<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <link rel="shortcut icon" href="../static/image/favicon.ico" type="image/x-icon">
  <title>CRUD Offline-First</title>
  <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
</head>
<body>
  <h1>Offline CRUD</h1>
  <input id="dataInput" placeholder="Digite algo" />
  <button onclick="saveData()">Salvar</button>
  <button onclick="syncWithMongoDB()">Sincronizar</button>
  <button onclick="preencherTabela()">Preencher</button>

  <table>
    <thead>
      <tr>
        <th>Nomes</th>
      </tr>
    </thead>

    <tbody id="preencher">
    </tbody>
  </table>

  <div id="dados" data-dados="{{ nomes | tojson | safe }}"></div>
  <script src="/static/js/app.js"></script>
  <script id="dados-json" type="application/json">
    {{ nomes | tojson }}
  </script>
</body>
</html>
